html, body {
    width: 100%;
    height: 100%;
}

.body-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uh-oh {
    font-size: 60px;
}

.lel {
    margin-top: 20px;
    font-size: 30px;
}

.leetcode {
    color: black;
}